.reset {
  /* HTML5 display-role reset for older browsers */
}
.reset html,
.reset body,
.reset div,
.reset span,
.reset applet,
.reset object,
.reset iframe,
.reset h1,
.reset h2,
.reset h3,
.reset h4,
.reset h5,
.reset h6,
.reset p,
.reset blockquote,
.reset pre,
.reset a,
.reset abbr,
.reset acronym,
.reset address,
.reset big,
.reset cite,
.reset code,
.reset del,
.reset dfn,
.reset em,
.reset img,
.reset ins,
.reset kbd,
.reset q,
.reset s,
.reset samp,
.reset small,
.reset strike,
.reset strong,
.reset sub,
.reset sup,
.reset tt,
.reset var,
.reset b,
.reset u,
.reset i,
.reset center,
.reset dl,
.reset dt,
.reset dd,
.reset ol,
.reset ul,
.reset li,
.reset fieldset,
.reset form,
.reset label,
.reset legend,
.reset table,
.reset caption,
.reset tbody,
.reset tfoot,
.reset thead,
.reset tr,
.reset th,
.reset td,
.reset article,
.reset aside,
.reset canvas,
.reset details,
.reset embed,
.reset figure,
.reset figcaption,
.reset footer,
.reset header,
.reset hgroup,
.reset menu,
.reset nav,
.reset output,
.reset ruby,
.reset section,
.reset summary,
.reset time,
.reset mark,
.reset audio,
.reset video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.reset * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reset :after,
.reset :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.reset article,
.reset aside,
.reset details,
.reset figcaption,
.reset figure,
.reset footer,
.reset header,
.reset hgroup,
.reset menu,
.reset nav,
.reset section {
  display: block;
}
.reset body {
  line-height: 1;
}
.reset ol,
.reset ul,
.reset li {
  list-style: none;
}
.reset blockquote,
.reset q {
  quotes: none;
}
.reset blockquote:before,
.reset blockquote:after,
.reset q:before,
.reset q:after {
  content: '';
  content: none;
}
.reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.reset a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.reset a:focus,
.reset a:hover {
  text-decoration: none;
  outline: none;
}
.reset {
  /*--------- product_door-selection ---------*/
  /* -------- radio -------- */
  /* -------- end radio -------- */
}
.reset .clearfix {
  clear: both;
  content: "";
  display: block;
}
.reset .row::after {
  clear: both;
  content: "";
  display: table;
}
.reset .container,
.reset .container2 {
  max-width: 1422px;
  width: 100%;
  margin: 0 auto;
}
.reset .product {
  text-transform: uppercase;
  border-bottom: 1px solid #d6d5d6;
}
.reset .product_header {
  padding: 17px 0;
}
.reset .product_breadcrumbs {
  margin-top: 5px;
  float: left;
  color: #9e9e9e;
}
.reset .product_breadcrumbs a {
  position: relative;
  display: inline-block;
  border-bottom: 1px dashed #9e9e9e;
  color: #9e9e9e;
  font-size: 18px;
  font-family: "HeliosCond";
  font-weight: 400;
  margin-left: 15px;
}
.reset .product_breadcrumbs a::before {
  content: "/";
  position: absolute;
  left: -11px;
  bottom: 0px;
  font-size: 16px;
}
.reset .product_name {
  color: #3e3e3e;
  font-family: "HeliosCond";
  font-weight: 400;
  font-size: 36px;
  display: inline-block;
}
.reset .btn_catalog-back {
  float: right;
  width: 220px;
}
.reset .btn_catalog-back p {
  line-height: 46px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}
.reset .btn_catalog-back a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 46px;
  color: #fff;
  text-align: center;
  background: #d7b273;
  -webkit-border-radius: 23px;
          border-radius: 23px;
  border: 0;
}
.reset .btn_catalog-back a:hover {
  background: #7a231c;
  background: -webkit-linear-gradient(315deg, #7a231c 0%, #7a231c 24%, #cb631a 100%);
  background: linear-gradient(135deg, #7a231c 0%, #7a231c 24%, #cb631a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a231c', endColorstr='#cb631a', GradientType=1);
  -webkit-border-radius: 23px;
          border-radius: 23px;
}
.reset .catalog-back_xs {
  display: none;
  width: 22px;
  margin-top: 14px;
}
.reset .catalog-back_xs img {
  width: 100%;
}
.reset .product_main-top {
  display: table;
  width: 100%;
  height: 48px;
  border: 1px solid #d6d5d6;
  border-bottom: none;
}
.reset .product_main-top li {
  display: table-cell;
  vertical-align: middle;
}
.reset .product_main-top li + li {
  border-left: 1px solid #d6d5d6;
}
.reset .door-interior {
  padding-left: 20px;
  padding-right: 5px;
}
.reset .door-interior p {
  color: #939597;
  font-family: "Helios";
  font-weight: 300;
  font-size: 14px;
}
.reset .prod_upload {
  text-align: center;
  width: 296px;
  padding: 0 5px;
}
.reset .prod_upload a + a {
  margin-left: 5px;
}
.reset .prod_upload-your {
  color: #d7b173;
  font-family: "Helios";
  font-weight: 300;
}
.reset .prod_upload-your:hover {
  color: #d7b173;
}
.reset .prod_remove {
  color: #9e9e9e;
  font-family: "Helios";
  font-weight: 300;
  font-size: 12px;
  border-bottom: 1px dashed #9e9e9e;
}
.reset .prod_remove:hover {
  color: #9e9e9e;
}
.reset .prod_print {
  text-align: center;
  width: 1px;
  padding: 0 28px;
}
.reset .prod_print a {
  width: 25px;
}
.reset .prod_print a img {
  width: 100%;
}
.reset .prod_down {
  text-align: center;
  width: 1px;
  padding: 0 28px;
}
.reset .prod_down a {
  width: 25px;
}
.reset .prod_down a img {
  width: 100%;
}
.reset .prod_exit {
  text-align: center;
  width: 1px;
  padding: 0 16px;
}
.reset .prod_exit a {
  width: 19px;
}
.reset .prod_exit a img {
  width: 100%;
}
.reset .product_color {
  width: 100%;
  border: 1px solid #d6d5d6;
  border-bottom: none;
  padding: 20px 0;
  display: table;
}
.reset .product_color > li {
  display: table-cell;
  padding: 0 20px;
}
.reset .prod_color-walls {
  width: 320px;
}
.reset .prod_color-floor {
  margin-left: 50px;
}
.reset .color_title {
  color: #a09fa0;
  font-family: "HeliosCond";
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 18px;
}
.reset .color_choice {
  margin-left: -4px;
  margin-right: -4px;
}
.reset .color_choice > li {
  float: left;
  margin: 8px 4px 0;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
.reset .color_choice > li a {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.reset .color_choice > li img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.reset .color_choice .active {
  border: 2px solid #d7b273;
}
.reset .color_choice .active img {
  width: -webkit-calc(104%);
  width: calc(104%);
}
.reset .product_display {
  width: 100%;
  height: 685px;
  background: url(../img/prod-display.jpg) center bottom no-repeat;
  background-size: auto 100%;
}
.reset .other-models {
  padding: 38px 0 75px;
  text-transform: uppercase;
}
.reset .other-models h3 {
  font-family: "HeliosCond";
  font-weight: 400;
  font-size: 36px;
  color: #939597;
  text-align: center;
  margin-bottom: 90px;
}
.reset .models_list > li {
  float: left;
  width: 230px;
  margin-bottom: 60px;
}
.reset .models_list a {
  width: 100%;
  text-align: center;
}
.reset .model_img {
  display: block;
  margin-bottom: 23px;
}
.reset .model_img img {
  height: 200px;
}
.reset .model_name {
  text-align: left;
  padding-left: 30px;
  color: #404041;
  font-family: "HeliosCond";
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.reset .model_name::before {
  position: absolute;
  content: "";
  background: url(../img/model_name.png) 0 0 no-repeat;
  background-size: cover;
  left: 0px;
  bottom: 3px;
  width: 27px;
  height: 8px;
}
.reset .btn_show-more {
  display: block;
  width: 250px;
  margin: 0 auto;
}
.reset .btn_show-more a {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 46px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #d7b273;
  -webkit-border-radius: 23px;
          border-radius: 23px;
  border: 0;
}
.reset .btn_show-more a:hover {
  background: #7a231c;
  background: -webkit-linear-gradient(315deg, #7a231c 0%, #7a231c 24%, #cb631a 100%);
  background: linear-gradient(135deg, #7a231c 0%, #7a231c 24%, #cb631a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a231c', endColorstr='#cb631a', GradientType=1);
  -webkit-border-radius: 23px;
          border-radius: 23px;
}
.reset .product_door-selection {
  border-top: 1px solid #d6d5d6;
}
.reset .door-select_wrap {
  position: relative;
  padding: 64px 0 100px;
}
.reset .btn_door-interior {
  display: block;
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
}
.reset .btn_door-interior a {
  cursor: pointer;
  width: 100%;
  line-height: 46px;
  color: #a09fa0;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 0 0 23px 23px;
          border-radius: 0 0 23px 23px;
  border: 1px solid #d6d5d6;
  border-top: none;
}
.reset .door-selection_table {
  display: table;
  width: 100%;
}
.reset .table-cell_door,
.reset .table-cell_menu {
  width: 50%;
  float: left;
}
.reset .table-cell_door {
  text-align: center;
  padding-top: 30px;
}
.reset .door_img {
  height: 535px;
}
.reset .door_img img {
  height: 100%;
}
.reset .table-cell_menu {
  text-transform: none;
  font-family: "HeliosCond";
  font-weight: 400;
}
.reset .material_choice {
  margin-left: -4px;
}
.reset .material_choice > li {
  float: left;
  margin: 8px 4px 0;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
.reset .material_choice > li a {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.reset .material_choice > li img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.reset .material_choice .active {
  border: 2px solid #d7b273;
}
.reset .material_choice .active img {
  width: -webkit-calc(104%);
  width: calc(104%);
}
.reset .door_menu_item {
  padding: 18px 0 18px;
}
.reset .door_menu_item:first-child {
  padding: 0 0 18px;
}
.reset .door_menu_item + .door_menu_item {
  border-top: 1px solid #d6d5d6;
}
.reset .door_menu_item_title {
  text-transform: uppercase;
  display: inline-block;
  color: #9e9e9e;
  font-size: 18px;
  margin-bottom: 10px;
}
.reset .door_menu_item_subtitle {
  display: inline-block;
  color: #404041;
  font-size: 16px;
  margin-bottom: 10px;
}
.reset .door_menu_dimen_title {
  color: #404041;
  font-size: 16px;
  margin-bottom: 10px;
}
.reset .door_menu_dimen_block {
  float: left;
  margin-top: 5px;
}
.reset .door_menu_dimen_block:first-child {
  margin-right: 150px;
}
.reset .door_choice_block-text p {
  display: inline-block;
}
.reset .door_form_dimensions {
  color: #9e9e9e;
  font-size: 16px;
}
.reset .dimen_input_radio label + label {
  margin-left: 16px;
}
.reset .dimen_input_radio + .dimen_input_radio {
  margin-top: 10px;
}
.reset .dimen_radio {
  display: none;
}
.reset .radio-custom {
  width: 16px;
  height: 16px;
  border: 2px solid #d7b273;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: relative;
  margin-bottom: 2px;
}
.reset .radio-custom,
.reset .label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.reset .dimen_radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #d7b273;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}
.reset .radio-custom,
.reset .dimen_radio:checked + .radio-custom::before {
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.reset .door_choice_block-text + .door_choice_block-text {
  margin-top: 5px;
}
.reset .door_choice_title {
  color: #404041;
  font-size: 16px;
}
.reset .door_choice_name {
  color: #9e9e9e;
  font-size: 16px;
}
.reset a.door_choice_cert {
  margin-top: 14px;
  padding-top: 2px;
  padding-left: 22px;
  position: relative;
  color: #9e9e9e;
  font-size: 16px;
  text-decoration: underline;
}
.reset a.door_choice_cert:hover {
  color: #9e9e9e;
}
.reset a.door_choice_cert::before {
  position: absolute;
  content: "";
  background: url(../img/door-certificate.png) 0 0 no-repeat;
  background-size: cover;
  left: 0px;
  bottom: 0px;
  width: 17px;
  height: 17px;
}
